body {
    margin: 0; 
    padding: 0;
}

h1 {
    text-shadow: 2px 4px 5px rgb(41, 28, 28);
    background-color: rgb(74, 226, 74); 
    padding: 80px 20px; 
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    text-align: center; 
    margin: 0;
}

.top-right-image {
    position: absolute;
    top: 105px;
    right: 10px; 
    width: 60px; 
    height: auto;
}

ul {
    font-size: 30px;
    list-style: none; 
    padding: 0;
    margin: 0;
    background-color: rgb(50, 196, 50);
    display: flex; 
    justify-content: center; 
    padding: 15px 0; 
}

ul li {
    margin: 10px;
}

ul li a, ul li span {
    text-decoration: none; 
    padding: 10px 15px; 
    display: inline-block;
}

.image-sidebar {
    background-color: rgb(74, 226, 74);
    position: absolute; 
    top: 410px; 
    right: 20px; 
    width: 300px; 
    padding: 10px; 
}

.image-sidebar h2 {
    font-size: 40px;
    margin: 0; 
    padding-bottom: 10px;
}

.image-sidebar .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}

.image-sidebar .grid-container img {
    width: 100%; 
    height: auto; 
    display: block;
}


