body {
    margin: 0; 
    padding: 0;
}

h1 {
    background-color: rgb(74, 226, 74); 
    padding: 80px 20px; 
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    text-align: center; 
    margin: 0;
}

.top-right-image {
    position: absolute;
    top: 105px;
    right: 10px; 
    width: 60px; 
    height: auto;
}

ul {
    font-size: 25px;
    list-style: none; 
    padding: 0;
    margin: 0;
    background-color: rgb(50, 196, 50);
    display: flex; 
    justify-content: center; 
    padding: 15px 0; 
}

ul li {
    margin: 10px;
}

ul li a, ul li span {
    text-decoration: none; 
    padding: 10px 15px; 
    display: inline-block;
}
